@import "./Mixins";
@import "./Variables";

.form {
  @include flex-mother(column, flex-start, center);
  height: calc(100vh - $headerHeight);
  > div:last-of-type {
    @include flex-mother(row, center, center);
    max-width: 600px;
    margin-top: 20px;
  }
  h3 {
    margin: 10px 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    font-size: 1.3rem;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
  }
  > div {
    @include flex-mother(column, flex-start, flex-start);
    position: relative;
    min-height: 60px;
    margin: 10px 0;
    font-family: "Courier New", Courier, monospace;
    label {
      display: block;
      margin: 0;
      flex-basis: 15px;
      line-height: 10%;
      font-size: 1rem;
    }
    input,
    textarea {
      display: block;
      flex-grow: 1;
      padding: 4px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      border-radius: 0.2rem;
      line-height: 80%;
      font-size: 1.2rem;
      &:active,
      &:focus {
        box-shadow: 0 0 0.5px 1.5px $colorFirst;
        outline: none;
        outline-offset: 0;
      }
    }
    textarea {
      height: 200px;
      max-height: 600px;
      line-height: 1.2rem;
      width: 500px;
      max-width: 600px;
    }
  }
  button {
    width: 200px;
    height: 60px;
    margin: 40px 0;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: "Courier New", Courier, monospace;
    background-color: $colorSecond;
    color: black;
    transition: 0.2s;
    &:active {
      outline: none;
      outline-offset: 0;
      color: white;
      border-color: white;
    }
    &:active {
      transform: translate(0, 2%);
    }
    cursor: pointer;
    &:hover {
      background-color: $colorFirst;
      border-color: $colorFirst;
      color: white;
    }
    > div {
      display: none;
      margin: auto;
    }
    span {
      display: block;
    }
  }
}

.helper{
    position: absolute;
    top: -10px;
    right: 0;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 50%;
    font-weight: 800;
    text-align: center;
    cursor: pointer;
}
